# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual env
.env
.env.prod
.env.dev

# poetry
poetry.lock

# kevin 
notes.txt
TODO.txt
# app/api/v1/route_users_v2.py
docker-compose-dev.yml